/*START HERE---This css file  contain all styles for the Basement project */
/*HOME PAGE STYLE START HERE*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  background-color: #121212;   /*121212*/
  -webkit-user-select: none;
  user-select: none;
  overflow-x: hidden;
  
}
nav {
  background-color: #000000; /*#384e71;*/
  height: 80px; /*apply this on desktop*/
  width: 100%;
  z-index: 999;
}
#nav{
  display: block;

}
.logo {
  color: #ffffff;
  font-size: 35px;
  text-transform: capitalize;
  line-height: 80px; /*apply this on desktop*/
  padding: 0 40px;
  font-weight: bold;
}
.active {
  border: 1px solid #ffffff;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
}

.checkbtn {
  font-size: 50px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 15px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

#check:checked ~ ul {
  left: 0;
}

/*llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll*/
#article{
  display: block;
}
#subsection {
  color: #fff;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: #212121;
  width: 100%;
  height: fit-content;
  border: silver;
}
#subsection h1 {
  text-align: center;

  font-size: 50px; /*apply this on desktop*/
}
h2 {
  text-align: center;
}
.welcome {
  font-size: 35px;
  text-align: center;
}
#container {
  width: 100%;
  height: max-content;
  text-align: center;
}
.drop_arrow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.drop_arrow .material-symbols-outlined {
  font-size: 100px; /*apply this on desktop*/
}
button {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
}
#HowItWorks {
  color: #fff;
}
figcaption {
  text-align: center;
  text-decoration: underline;
}
.security,
.location {
  display: block;
}
.AnswerToQuestions {
  position: relative;
  width: 350px;
  background-color: #212121;
  /*box-shadow: 0 0 10px 5px rgba(128, 0, 128, 0.8);*/
  height: 250px; /*apply this on desktop*/
  /*border: 1px #ff00ff solid; */
  border: 1px silver dashed;
  border-radius: 20px;
  opacity: 0; /*initially hide the AnswerToQuestions container*/
  transform: translateX(-50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animate {
  opacity: 1; /* Show the boxes when animated class is added */
  transform: translateX(0); /* Move the boxes back to their original position */
}

.AnswerToQuestions p {
  text-align: center;
}

.important .material-symbols-outlined {
  font-size: 20px;
  margin-top: 10px;
  color: #ff0000;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 4px;
  color: blue;
  cursor: pointer;
  font-size: 35px;
  
}
/* footer */
footer {
  width: 100%;
  height: max-content;
  background-color: #111111;
}
footer ol {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 10px;
}
footer ol li a {
  color: #fff;
  text-decoration: underline;
  text-transform: capitalize;
}
/*steps styling*/
#ladder {
  width: 80%;
  height: max-content;
  border: 2px #212121 solid;
  border-top: 1px transparent;
  border-bottom: 1px transparent;
  border-right: 1px transparent;
  margin: 20px;
}
.rung {
  width: 10px;
  height: 2px;
  background-color: #212121;
  margin-top: 50%;
  opacity: 0; /* Initially set rung opacity to 0 */
  transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}
.mantain_rung {
  display: flex;
}
.mantain_rung p {
  color: #fff;
  border: 2px #212121 solid;
  border-top: 1px transparent;
  border-right: 1px transparent;
}
/*notch styling*/
.notch-card {
  position: relative;
  width: 300px;
  height: 50px;
  background-color: #212121;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
}
.notch-card .active-card {
  opacity: 1;
}
.notch {
  display: flex;
  justify-self: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-color: #121212;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
#operating-system {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#operating-system::after {
  content: " ";
  width: 740px;
}
/* styling discord section*/
#discord {
  display: flex;
  justify-content: center;
}
#discord-setup,
#discord-setup-apple,
#discord-setup-windows,
#discord-setup-mac-book {
  display: none;
  position: fixed;
  bottom: 10%;
  width: 80%;
  height: min-content;
  background-color: rgba(0, 0, 0, 0.8)/*#000000;*/
  /*-image: url("placeholder\Naza2.png");*/
  /*overflow: hidden;*/
    

  
}


.aling-ment {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #212121;
 
}
.close-steps {
  display: flex;
  justify-content: space-between;
}
.close-setup {
  color: #fff;
  margin: 15px;
}
.location_on{
  margin: 15px;
  color: #ff00ff;
}

.print-out {
  /*font-family: arial, sans-serif;*/
  margin: 15px;
  padding: 10px 10px;
  /*background-color: #000000;*/
  background-color: rgba(0, 0, 0, 0.9);
  /*color: #0018f9;*/
  color: #29ab87;
  /*border: 1px #fff solid;*/
}

sub {
  color: #fff;
  text-transform: capitalize;
  text-decoration: underline;
  margin: 15px;
}
.tick {
  display: none;
  justify-content: center;
}


/*ACCOMMODATION PAGE STYLE START HERE*/

#RessidentCollection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

#RessidentCollection::after {
  content: " ";
  width: 620px;
}
.Ress {
  min-width: 150px;
  min-height: 100px;
  width: 300px;
  height: 250px;
  border: 1px solid #fff;
  background-color: #222;
  border-radius: 15px;
}
.availability {
  margin-left: 1px;
  color: #000000;
  
}
.Ress img {
  width: 298px;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}
input{
  padding: 10px;
}
.ResName figcaption {
  text-align: center;
  font-weight: bold;
}
.ResName {
  display: flex;
  justify-content: space-between;
}
ol li {
  font-size: 14px;

  margin-left: 3px;
}
.top-content .close-setup{
  color: #000000;
}
.readMore{
  color: #3bb143;
  cursor: pointer;
}

.location {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
  margin-right: 5px;
  cursor: pointer;
}

.location .material-symbols-outlined {
  color: #3bb143;
}
.ResName .material-symbols-outlined {
  padding: 1px;
}
.availability{
  color: blue;
  cursor: pointer;
}
/*.ResName .material-symbols-outlined:first-child {
  color: red;
}*/
/*.ResName .material-symbols-outlined:first-child,*/
.ResName .material-symbols-outlined:last-child {
  cursor: pointer;
}


.ressContent {
  color: #fff;
}
.back_btn {
  background-color: #212121;
  width: 100%;
  height: 30px;
}
.back_btn .material-symbols-outlined {
  color: #fff;
  cursor: pointer;
}

.material-symbols-outlined figcaption {
  color: #000000;
}
/*setting up popup style*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;}

.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  display: none;
}

.update{
  display: flex;
  justify-content: center;
}
.top-content {
  height: min-content;
  display: flex;
  justify-content: space-between;
}
.top-content img {
  object-fit: cover;
}
.contact_button{
  background-color: #6693f5;
} 
.details-container {
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.slide-container {
  overflow-x: scroll;
}
.image-container {
  display: flex;
  width: 275px;
  gap: 3px;
}
.image-container img{
  width: 300px;
  height: 200px;  object-fit: cover;
}


.popUp::-webkit-scrollbar {
  display: none;
  overflow-x: hidden;
}

.image-container img:not(:first-child) {
  display: none;
}
.horizontal-img {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.horizontal-img img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

table {
  width: 100%;
}

.contact-landlord-container {
  display: flex;
  justify-content: center;
}
.contact-landlord {
  display: flex;
  flex-direction: column;
}
td {
  text-transform: capitalize;
  font-size: 13px;
}

/*ACCOMMODATION PAGE STYLE END HERE */

/*ABOUT BASEMENT PAGE STYLE START HERE*/

section {
  color: #fff;
  margin: 10px;
}
section a {
  text-decoration: underline;
}

/*aside BASEMENT PAGE END HERE*/
aside{
  display: flex;
  justify-content: center;
}

#admin-Log-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background-color: silver;
  width: 35%;
  height: 80vh;
  margin-top: -50px;
  z-index: 999;
  border-radius: 20px;
}

#form-content{
  display: flex;
  flex-direction: column;
  width: 250px; 
}

#log-in{
  background-color: #6693f5;

}
.info{
  width: 100px;
  height: 100px;
}
#form-content sub{
color: #000000;
text-decoration: none;
border: 1px #6693f5 solid;
border-radius: 15px;
padding: 5px;
}
#form-content button{
  background-color: #6693f5;
}
#cancel{
  display: flex;
  align-items: self-end;
  float: right;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}
#cancel button:not(:first-child){
  background-color: #6693f5;
}
#none{
opacity: 0;
}
/*white space styling here and admin adjust*/
.white-space{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: silver;
}
.admin-adjust{
 /* display: none;*/
}

.prop-name{
  text-align: center;
}
.admin-adjust{
  height: 460px;
  border: 1px #6693f5 solid;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
.admin-adjust p{

  text-transform: capitalize;

}
/*.save-changesBtn{
  background-color: #6693f5;
  border-radius: 0px;
  text-transform: uppercase;
}*/
.price-row{
  display: flex;
  justify-content: space-between;
 
  
}

.img-center-portal{
  display: flex;
  justify-content: center;
}
.admin-adjust img{
  align-self: center;
  width: 300px;
  height: 250px;
  object-fit: cover;
}
.label-margin{
  margin-left: 5px;
}



.adjust-price input{
  width: 90px;
  border-radius: 0;
padding: 5px;
}
input{
  border-radius: 15px;
  text-align: center;
  padding: 10px;
}



/*media queries here*/@media (max-width: 716px) {
  #discord-setup,
#discord-setup-apple,
#discord-setup-windows,
#discord-setup-mac-book,.popUp{
  width: 100%;
}

  .horizontal-img {
    display: none;
  }
  .image-container img:not(:first-child) {
    display: block;
  }
  .Ress {
    width: 190px;
    height: 250px;
  }
  
  .Ress img{
    width: 188px;
    height: 120px;
    
    object-fit: cover;
  }
  .location{
    margin-top: -5px;
  }
  #admin-Log-in{
    width: 80%
  }
  
}
@media (min-width: 716px) and (max-width: 952px) {
  .horizontal-img img {
    width: 200px;
  }
  

}

@media (max-width: 952px) {
  .logo {
    font-size: 20px;
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  

  nav {
    border: 0.5px #fff solid;
    z-index: 999;
  }
  .checkbtn {
    display: block;
  }
  ul {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    left: -100%;
    transition: all 0.8s;
  }
  nav ul li {
    display: block;
    line-height: 60px;
    z-index: 9999;
  }
  nav ul li a {
    font-size: 14px;
  }
}


/*End HERE---This css file contain all styles for the Basement project */
